* { margin: 0; padding: 0; box-sizing: border-box; transition: all .1s ease; }

*[data-theme='light'] {
  --color-background: #fff;
  --color-primary: rgb(49, 49, 49);
  --color-secondary: #2ec1ac;
  --primary-shadow: -4px -4px 12px rgba(255, 255, 255, 0.5),
                     4px 4px 12px rgba(0, 0, 0, 0.1);
  --secondary-shadow: -3px -3px 5px rgba(255, 255, 255, 0.4),
                     3px 3px 5px rgba(0, 0, 0, 0.09);
  --secondary-shadow: inset -3px -3px 5px rgba(255, 255, 255, 0.4),
                     inset 3px 3px 5px rgba(0, 0, 0, 0.09);
  --toggle-shadow: 0px 2px 25px #d9d9d9;
}

*[data-theme='dark'] {
  --color-background: #2e2e2f;
  --color-primary: #eee;
  --color-secondary: #2ec1ac;
  --primary-shadow: -4px -4px 10px rgba(255, 255, 255, 0.05),
                     4px 4px 10px rgba(0, 0, 0, 0.1);
  --secondary-shadow: -3px -3px 5px rgba(255, 255, 255, 0.05),
                     3px 3px 5px rgba(0, 0, 0, 0.05);
  --secondary-shadow: inset -3px -3px 5px rgba(255, 255, 255, 0.05),
                     inset 3px 3px 5px rgba(0, 0, 0, 0.05);
  --toggle-shadow: 0px 2px 25px #d9d9d9;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Halvetica Neue', sans-serif;
	font-size: 20px;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background);
	line-height: 1.3;
	overflow-x: hidden;
}

a {
	color: var(--color-primary);
	font-weight: 600;
	text-decoration: none;
}

h1, h2, h3, h4 { color: var(--color-primary); }

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar nav {
	display: flex;
	background-color: var(--color-background);
	align-items: center;
	justify-content: space-between;
  padding: 10px 20px;
  box-shadow: var(--primary-shadow);
}

.navbar nav ul {
	display: flex;
	list-style: none;
	width: 50%;
	justify-content: space-around;
}

.navbar ul li a {
	font-size: 0.8em;
	text-decoration: none;
}

.navbar .logo {
	color: var(--color-primary);
}

.content {
	display: flex;
	flex-wrap: wrap;
	margin: 60px auto;
	max-width: 890px;
	padding: 40px;
	justify-content: center;
}
.content .childComponent {
  background-color: var(--color-background);
  display: block;
  width: 740px;
  max-width: 740px;
  padding: 30px;
  border-radius: 5px;
}
.content h1 { text-align: center; }

.tools {
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  justify-content: space-around;
  gap: 10px;
}
.tools div {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--color-primary);
}

.theme-toggle {
  position: relative;
  width: 80px;
  height: 34px;
  border-radius: 40px;
}
.theme-toggle input[type="checkbox"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
.theme-toggle span {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  opacity: 1;
  background-color: #fff;
  box-shadow: 0px 2px 25px #d9d9d9;
  border-radius: 40px;
  transition: 0.2s ease background-color, 0.2s ease opacity;
}
.theme-toggle span:before,.theme-toggle span:after {
  content: '';
  position: absolute;
  top: 4px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: 0.5s ease transform, 0.2s ease background-color;
}
.theme-toggle span:before {
  background-color: #fff;
  transform: translate(-58px,0px);
  z-index: 1;
}
.theme-toggle span:after {
  background-color: #000;
  transform: translate(8px,0px);
  z-index: 0;
}
.theme-toggle input[type="checkbox"]:checked + span {
  background-color: #000;
}
.theme-toggle input[type="checkbox"]:active + span {
  opacity: 0.5;
}
.theme-toggle input[type="checkbox"]:checked + span:before {
  background-color: #000;
  transform: translate(35px,-7px);
}
.theme-toggle input[type="checkbox"]:checked + span:after {
  background-color: #fff;
  transform: translate(46px,0px);
}

section.content h1 {
  color: var(--color-primary);
}

.sectionForm {
  max-width: 820px;
  width: 820px;
}

table, label, .childElement, .sectionCounter {
  color: var(--color-primary);
}