.parentElement {
  display: block;
  width: 620px;
  margin: 30px auto;
}
.childElement {
  padding: 30px;
}
.childElement form {
  display: flex;
  flex-direction: row;
  text-align: left;
}
.childElement form input {
  margin: 5px 0;
  border: 1px solid #a4a4a4;
  border-radius: 3px;
  min-height: 20px;
}
.childElement form input[type="submit"] {
  height: 24px;
  cursor: pointer;
}