.sectionForm {
  display: block;
  max-width: 580px;
  width: 580px;
  margin: 30px auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;
}
.sectionTable { text-align: left; }
.inputStyle {
  height: 24px;
  width: 80%;
  border-radius: 5px;
}
.buttonStyle {
  display: block;
  margin: 10px 0;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
}