.sectionCounter {
  display: block;
  margin: 30px auto;
  max-width: 560px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 30px;
}

.parentElement {
  display: flex;
  flex-direction: row;
}
.parentElement .childElement {
  flex: 1;
  font-size: 18px;
  font-weight: 700;
}